body {
  background: rgb(50, 57, 79);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  background-color: rgb(64, 63, 53);
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.77);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.77);
  display: flex;
  padding: 3.5rem;
  flex-direction: column-reverse;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  gap: 0.2rem;
  height: 35rem;
  width: 25rem;
  box-sizing: border-box;
  
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  aspect-ratio: 1;
  border-radius: 50%;
  corner-shape: squircle;
}

#display-area::-webkit-scrollbar {
  display: none;
}

#input-area::-webkit-scrollbar {
  display: none;
}

#display-area {
  border-radius: 0 0 1rem 1rem;
  padding: 2rem;
  box-sizing: border-box;
  width: 70%;
  height: 70%;
  text-align: center;
  background: rgb(190, 189, 167);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  font-size: 1.5rem;
  flex-wrap: wrap;
}

#input-area {
  font-size: 1.4rem;
  overflow: scroll;
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  gap: 0.2rem;
}

#input-area p {
  margin-top: 0;
  color: white;
}

input {
  background-color: rgb(64, 63, 53);
  height: 2rem;
  width: 80%;
  color: white;
}

button {
  height: 2rem;
  font-size: 1rem;
  width: 50%;
  color: white;
  cursor: pointer;
  background: rgb(41, 45, 41);
  border-style: none;
  border-radius: 1rem;
}
